{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Segunda vista</h1>
        <p class="lead">Esta es una prueba de la segunda vista para el ejercicio 6 de la practica 2</p>        
        </p>
    </main>
{% endblock %}
