{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Ejercicio 6</h1>
        <p class="lead">Esta es una prueba de la primer vista para el ejercicio 6 de la practica 2</p>
        <p class="lead">
        <a href="{{ path('home') }}" class="btn btn-lg btn-secondary">Leer mas</a>
        </p>
    </main>
{% endblock %}
